<h1>Stores within 25 miles of <%= @postal_code %></h1>
<h3><%= @total_stores %> Total Stores </h3>
<% @stores.each do |store| %>
  <%= render partial: 'stores/store', locals: {store: store} %>
<% end %>
